<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .content {
            padding-top: 10px;
         }
    </style>
</head>
<body>
    <p>Hello,</p>
    <div class="content">
        <p>The account of <span th:text="${#strings.capitalize(firstname)}">Firstname</span> <span th:text="${#strings.capitalize(lastname)}">lastname</span>
            has been suspended due to expired password. </p>
    </div>
    <p>Best regards,</p><p>OpenWis</p>
</body>
</html>
