<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .end1 {
            margin: 0;
         }
         .note {
            font-size:12px;
            font-weight: bold;
          }
    </style>
</head>
<body>
    <p>Dear <span th:text="${firstname}">Firstname</span> <span th:text="${lastname}">lastname</span>,</p>
    <p>Your password has been reset successfully.</p>
    <div class="login-detailed">
        Your login details for MSS-ASMC WIS Portal are provided below:
        <ul>
            <li> Username: <span th:text="${username}">username</span></li>
            <li> Password: <span th:text="${password}">password</span></li>
        </ul>
        To change your password:
        <ol>
            <li>Select 'My Account'</li>
            <li>Select 'Personal information' and click 'Change my password'</li>
            <li>Enter your new password into the form and click 'Change Password...' </li>
        </ol>
        <p>If you have any questions or concerns, please do not hesitate to contact us.</p>
    </div>
    <div class="footer">
        <p class="end">Regards,</p>
        <p class="end1">MSS Singapore Operations</p>
        <p class="end1">MSS_Operations@nea.gov.sg</p>
        <p class="note">NOTE: This email was sent automatically.  Please do not reply.</p>
    </div>
</html>