<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .end1 {
            margin: 0;
         }
         .note {
            font-size:12px;
            font-style: italic;
          }
    </style>
</head>
<body>
    <p>Dear <span th:text="${#strings.capitalize(firstname)}">Firstname</span> <span th:text="${#strings.capitalize(lastname)}">lastname</span>,</p>
    <p> Thank you for requesting an W User Account.</p>
    <p> An email containing your login credentials will be sent to you within 3-5 working days if your registration is successful.</p>
    <p>If you did not request for an account, please contact us at contact@openwis.io.</p>
    <div class="footer">
        <p class="note">This is an automatic generated message. Please do not reply to this email.</p>
        <p class="note">Note: Please check your Spam/Junk Mail folder if you did no receive our reply in your Inbox.</p>
    </div>
</body>
</html>