# Ignore all maven build
target/
*.versionsBackup
*.releaseBackup
release.properties
*.log
*.tag
openwis-metadataportal/openwis-portal/openwis-admin-portal
openwis-metadataportal/openwis-portal/openwis-user-portal

# Ignore eclipse files
.project
.classpath
.settings/

# Ignore vagrant working files
.vagrant/
