<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"

   version="2.4">

   <servlet>

      <servlet-name>default-myfiles</servlet-name>
      <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>

      <init-param>
         <param-name>debug</param-name>
         <param-value>0</param-value>
      </init-param>

      <init-param>
         <param-name>listings</param-name>
         <param-value>true</param-value>
      </init-param>
      
      <init-param>
         <param-name>contextXsltFile</param-name>
         <param-value>WEB-INF/globalXsltFile.xsl</param-value>
      </init-param>

      <load-on-startup>1</load-on-startup>

   </servlet>

   <servlet-mapping>

      <servlet-name>default-myfiles</servlet-name>
      <url-pattern>/</url-pattern>

   </servlet-mapping>

</web-app>