<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
					  https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode/>
    <offline>false</offline>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <proxies>
        <proxy>
            <id>akka</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>localhost</host>
            <port>3128</port>
            <nonProxyHosts>*.akka.eu|127.0.0.1|localhost|172.25.140.132</nonProxyHosts>
        </proxy>
        <proxy>
            <id>akka_https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>localhost</host>
            <port>3128</port>
            <nonProxyHosts>*.akka.eu|127.0.0.1|localhost|172.25.140.132</nonProxyHosts>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>
                    http://172.25.140.132:9000
                </sonar.host.url>
            </properties>
        </profile>

    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
