<web-app>
    <display-name>MSS/FSS Harness Sample</display-name>
	<servlet>
		<servlet-name>MSSFSS</servlet-name>
		<servlet-class>org.openwis.harness.samples.mssfss.MSSFSSImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MSSFSS</servlet-name>
		<url-pattern>/MSSFSS</url-pattern>
	</servlet-mapping>
</web-app>