/** the buttons **/

/* Buttons. */

.openwisAction {
	background-image:url("../images/openwis/btn.png");
	height: 32px;
}

.openwisAction .x-btn-over{
	background-image:url("../images/openwis/btn_over.png");
}

.openwisAction .x-btn-tl, .openwisAction .x-btn-tr, 
.openwisAction .x-btn-tc, .openwisAction .x-btn-ml, 
.openwisAction .x-btn-mr, .openwisAction .x-btn-mc, 
.openwisAction .x-btn-bl, .openwisAction .x-btn-br, .openwisAction .x-btn-bc {
	background-image: none !important;
}

/* 130930 */
.mainbtn_gray {background:url("../images/openwis/button/com_btn_gray.jpg") no-repeat left top; text-align:center; color:#ffffff !important;height:24px; padding-bottom:10px;}
.mainbtn_blue {background:url("../images/openwis/button/com_btn_blue.jpg") no-repeat left top; text-align:center; color:#ffffff !important;height:30px; margin-top:10px;}
.btn_wbox5 {background:url("../images/openwis/button/wbox_wd50.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px 4px; width:50px !important;}
.btn_wbox7 {background:url("../images/openwis/button/wbox_wd70.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:70px !important;}
.btn_wbox8 {background:url("../images/openwis/button/wbox_wd80.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:80px !important;}
.btn_wbox10 {background:url("../images/openwis/button/wbox_wd100.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:100px !important;}
.btn_wbox11 {background:url("../images/openwis/button/wbox_wd110.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:110px !important;}
.btn_wbox12 {background:url("../images/openwis/button/wbox_wd120.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:120px !important;}
.btn_wbox15 {background:url("../images/openwis/button/wbox_wd150.jpg") no-repeat left top; text-align:center; color:#434343 !important;height:22px; margin:10px 0 10px  4px; width:150px !important;}
.btn_wbox5 em button,.btn_wbox7 em button,.btn_wbox8 em button,.btn_wbox10 em button,.btn_wbox11 em button,.btn_wbox12 em button,.btn_wbox15 em button {color:#434343 !important; height:16px !Important;}
.mainbtn_blue td {border:0 none !important;}
.x-panel-footer, .x-panel-footer-noborder, .x-panel-btns td{border: 0 none !important;}



/* layer pop - add131030 */
.x-window .x-toolbar-cell .x-btn {background:url("../images/openwis/button/bwbox_wd70.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:70px !important;}
.x-window .x-toolbar-cell .x-btn em button {color:#434343 !important; height:16px !Important;}
.x-window .x-form-text, textarea.x-form-field {margin-bottom:0 !important;}

.x-window .x-fieldset-bwrap .x-btn {background:url("../images/openwis/button/bgbox_wd70.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;width:70px !important; padding-bottom:2px; height:24px !Important;vertical-align:top !important;}
.x-window .x-fieldset-bwrap .x-btn em button {color:#ffffff !important;}

/* layer pop - add131111 */
.x-window .x-toolbar-left .x-toolbar-left-row .x-btn {background:url("../images/openwis/button/wbox_wd22.png") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:22px !important;}
.x-window .x-panel-footer .x-toolbar-cell .x-btn {background:url("../images/openwis/button/wbox_wd100.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:100px !important;}
.x-window .x-table-layout .x-btn-noicon {background:url("../images/openwis/button/wbox_wd150.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:150px !important;}
.x-window .x-table-layout .x-btn-noicon em button {color:#434343 !important; height:16px !Important;}
.x-window-dlg .x-toolbar-left .x-toolbar-left-row .x-btn {background:url("../images/openwis/button/wbox_wd50.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:50px !important;}
.x-window #md_dialog_tb .x-toolbar-cell .x-btn {background:url("../images/openwis/button/wbox_wd100.jpg") no-repeat left top !important; text-align:center; color:#434343 !important;height:22px; margin:4px 0 0 4px; width:100px !important;}

/***********/
/*top left*/
.openwisAction .x-btn-tl {
	background:url("../images/openwis/button/btn-tl.png") no-repeat 0 0 !important;
	width: 9px;
	height: 7px;
}
.openwisAction  .x-btn-over .x-btn-tl{ background:url("../images/openwis/button/btn-over-tl.png") no-repeat 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-tl{ background:url("../images/openwis/button/btn-click-tl.png") no-repeat 0 0 !important; }

/*************/
/*top center*/
.openwisAction  .x-btn-tc {
	background:url("../images/openwis/button/btn-tc.png") repeat-x 0 0 !important;
}
.openwisAction  .x-btn-over .x-btn-tc{ background:url("../images/openwis/button/btn-over-tc.png") repeat-x 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-tc{ background:url("../images/openwis/button/btn-click-tc.png") repeat-x 0 0 !important; }

/************/
/*top right*/
.openwisAction  .x-btn-tr {
	background:url("../images/openwis/button/btn-tr.png") no-repeat 0 0 !important;
	width: 9px;
	height: 7px;
}
.openwisAction  .x-btn-over .x-btn-tr{ background:url("../images/openwis/button/btn-over-tr.png") no-repeat 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-tr{ background:url("../images/openwis/button/btn-click-tr.png") no-repeat 0 0 !important; }

/**************/
/*middle left*/
.openwisAction  .x-btn-ml {
	background:url("../images/openwis/button/btn-ml.png") repeat-y 0 0 !important;
	padding: 0px;
}
.openwisAction  .x-btn-over .x-btn-ml{ background:url("../images/openwis/button/btn-over-ml.png") repeat-y 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-ml{ background:url("../images/openwis/button/btn-click-ml.png") repeat-y 0 0 !important; }

/****************/	
/*middle center*/ 
.openwisAction  .x-btn-mc {
	background:url("../images/openwis/button/btn-mc.png") repeat-x 0 0 !important;
}
.openwisAction  .x-btn-over .x-btn-mc{ background:url("../images/openwis/button/btn-over-mc.png") repeat-x 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-mc{ background:url("../images/openwis/button/btn-click-mc.png") repeat-x 0 0 !important; }

/***************/
/*middle right*/
.openwisAction  .x-btn-mr {
	background:url("../images/openwis/button/btn-mr.png") repeat-y 0 0 !important;
}
.openwisAction  .x-btn-over .x-btn-mr{ background:url("../images/openwis/button/btn-over-mr.png") repeat-y 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-mr{ background:url("../images/openwis/button/btn-click-mr.png") repeat-y 0 0 !important; }

/**************/
/*bottom left*/
.openwisAction  .x-btn-bl {
	background:url("../images/openwis/button/btn-bl.png") no-repeat 0 0 !important;
	width: 9px;
	height: 11px;
}
.openwisAction  .x-btn-over .x-btn-bl{ background:url("../images/openwis/button/btn-over-bl.png") no-repeat 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-bl{ background:url("../images/openwis/button/btn-click-bl.png") no-repeat 0 0 !important; }

/****************/
/*bottom center*/
.openwisAction  .x-btn-bc {
	background:url("../images/openwis/button/btn-bc.png") repeat-x 0 0 !important;
}
.openwisAction  .x-btn-over .x-btn-bc{ background:url("../images/openwis/button/btn-over-bc.png") repeat-x 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-bc{ background:url("../images/openwis/button/btn-click-bc.png") repeat-x 0 0 !important; }

/***************/ 
/*bottom right*/
.openwisAction  .x-btn-br {
	background:url("../images/openwis/button/btn-br.png") no-repeat 0 0 !important;
	width: 9px;
	height: 11px;
}
.openwisAction  .x-btn-over .x-btn-br{ background:url("../images/openwis/button/btn-over-br.png") no-repeat 0 0 !important; }
.openwisAction  .x-btn-click .x-btn-br{ background:url("../images/openwis/button/btn-click-br.png") no-repeat 0 0 !important; }

/** Misc **/
.infoMsg {
    color: blue;
    font-style: italic;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

/** MAP **/

.mapCtrlDrawRectangleExtent {
	background-image: url("../images/openwis/icon_selextent2.jpg") !important;
	height: 22px !important;
	width: 22px !important;
	margin-left:16px !important;
}

.mapCtrlDrawPolygonExtent {
	background-image: url("../images/openwis/icon_selextent.png") !important;
	height: 26px !important;
	width: 29px!important;
}
		
.mapCtrlDrag {
	background-image: url("../images/openwis/icon_pan2.jpg") !important;
	height: 22px !important;
	width: 22px !important;
	margin-left:21px !important;
}


.mapCtrlZoomOut {
	background-image: url("../images/openwis/icon_zoomout2.jpg") !important;
	height: 22px !important;
	width: 22px !important;
	margin-left:11px !important;
}


.mapCtrlZoomIn {
	background-image: url("../images/openwis/icon_zoomin2.jpg") !important;
	height: 22px !important;
	width: 22px!important;
	margin-left:18px !important;
}

.mapCtrlZoomFull {
	background-image: url("../images/openwis/icon_zoomfull2.jpg") !important;
	height: 22px !important;
	width: 22px!important;
	margin-left:7px !important;
}

.mapCtrlToolbar .x-toolbar {
    background: transparent !important;
    border: 0px !important;
}

/** SSP **/
.SSPPanel {
    background-color: white;
}

.SSPPanel .SSPItemsPanel {
	/* OWT-202 - BEGIN */
	background-color: white;
	/* OWT-202 - END */
	border-top:0px !important;
	background-image:url("../images/openwis/popup/separations.gif") ; 
	background-repeat: repeat-x ; 
	overflow: visible !important;
}

.SSPPanel .SSPItemsPanel .x-list-body {
	width: auto;
	overflow: visible;
}


/** Availability **/
.availabilityLevelUp {
    color: green;
    font-weight: bold;
}

.availabilityLevelWarn {
    color: orange;
    font-weight: bold;
}

.availabilityLevelDown {
    color: red;
    font-weight: bold;
}

.availabilityLevelUnknown {
    color: blue;
    font-weight: bold;
}

.availabilityLevelStopped {
    color: black;
    font-weight: bold;
}

.availabilityLevelNone {
    color: black;
    font-weight: bold;
}

.availabilityLevelAllSuspended {
    color: black;
    font-weight: bold;
}

/** Availability **/
.backupModeOn {
    color: red;
    font-weight: bold;
}

.backupModeOff {
    color: blue;
    font-weight: bold;
}

.treeForceVisible {
	overflow : auto !important;
	background-color: white !important;
}

.multiSelectFsKeywords {
    height: 340px !important;
    padding: 10px !important;
    width: 275px !important;
    margin-bottom: 0px !important;
    border-width: 0;
}

.multiSelectFsBodyKeywords {
    background-color: white !important;
    border: 1px solid #99BBE8 !important;
    display: block !important;
    height: 300px !important;
    margin-bottom: 10px !important;
    width: 250px !important;
}

.multiSelectViewKeywords {
	overflow : auto !important;
}

/*********************/
/*Grid Panel Row Color*/

.eventErrorGridRow {
	background-color: #FF8C7D !important;
}

.subscriptionRequestGridRow {
    background-color: #F2F2F2 !important;
}
