body {
    background: #eaeaea;
    width: 990px;
    margin: auto;
}
#header {
    background: white;
    padding-bottom: 0;
}

.dss-nav-login {
    display: none;
}

.dss-maintenance-container {
    display: none;
}

.dss-menu-container {
    display: none;
}
.form-container {
    display: flex;
    justify-content:center;
    background: white;
    height: 500px;
}
.for-captcha {
    margin-bottom: 15px;
}

.submitContainer {
    display:flex;
    justify-content: center;
}

#submitButton {
    width: 100px;
    height: 30px;
}
.captcha {
    display: flex;
    justify-content:center;
}

.captcha-image {
    margin-top: 15px;
    margin-bottom: 15px;
}

