.form-container {
    margin-top: 30px;
    display: flex;
    justify-content:center;
}
.for-captcha {
    margin-bottom: 15px;
}

.captcha {
    display: flex;
    justify-content:center;
}

.captcha-image {
    margin-top: 15px;
    margin-bottom: 15px;
}